
<div class="page-detail bg-gray">
<div class="container-fluid">
 
    <header class="row wx ">
          <a href="#/detail/104" class="backlast pull-left"><i class="fa fa-chevron-left "></i></a>
        <span>商品详情</span>
      </header>
    <div class="img-content">
    <p>配料：西瓜</p>
    <p>功效：生津止咳、清热解暑</p>
    <p>容量：350ml</p>
    <p>单价:18元/瓶</p>
    <img src="images/shop/details1.png" alt="..."> 
    </div>

  </div>
  <div class="cart-footer col-xs-12">
      <a class="btn btn-buy-now col-xs-5"  ng-click="buynow(p)">立刻购买</a>
      <a class="btn btn-add-to-cart col-xs-5 pull-right" ng-click="addshopcart(p)">加入购物车</a></div>
</div>
   <a class="back-to-top"><i class="fa fa-chevron-up fa-2x "></i></a>
</div>
