<div class="page-detail bg-gray">
<div class="container-fluid">
    <header class="row wx ">
          <a href="#/detail/104" class="backlast pull-left"><i class="fa fa-chevron-left   "></i></a>
        <span>商品详情</span>
      </header>
    <div class="focuson"><span>味绚果汁</span><span class="weixin">+关注微信</span></div>

<div class="address">
<div class="col-xs-2">
<img  src="images/shop/offline.png" ></div>
<p class="col-xs-8">上海市上海市卢湾区淮海路300号<br/>
营业时间：08:00-22:00</p>
<hr class="divider"><i class="fa fa-phone fa-2x col-xs-1"></i></div>
  </div>

</div>
   <a class="back-to-top"><i class="fa fa-chevron-up fa-2x"></i></a>
</div>
