<div class="chooseSaddress clearfix"><h5 class="text-center">收货地址<i class="fa fa-close pull-right col-xs-1"  ng-click="cancel()"></i></h5>
<dl class="clearfix col-xs-12">
    <dt class="col-xs-3">收货人</dt><dd class="col-xs-9"><input placeholder="名字"/></dd>
    <dt class="col-xs-3">联系电话</dt><dd class="col-xs-9"><input placeholder="联系电话或固话"/></dd>
    <dt class="col-xs-3">选择地区</dt><dd class="col-xs-9"><select><option>选择省份</option></select><select><option>选择城市</option></select>
    <select><option>选择区县</option></select></dd><dt class="col-xs-3">详细地址</dt><dd class="col-xs-9"><input placeholder="街道门牌信息"></dd>
    <dt class="col-xs-3">邮政编码</dt><dd class="col-xs-9"><input placeholder="邮政编码(选填)"/></dd>
</dl>
<a class="btn btn-wx col-xs-5">保存</a><a class="btn btn-gray col-xs-5 pull-right">取消</a> </div>