
<div class="page-cart1">
  <div class="container-fluid">
      <div class="row">
      <header class="  wx ">
          <a class="backlast pull-left" href="#/cart"><i class="fa fa-chevron-left   "></i></a>
        <span>待付款订单</span>
      </header>

   <div class="shippingaddress clearfix">
   <i class="fa fa-map-marker col-xs-1 fa-2x wxcolor"></i>
   <div class="col-xs-9">
   <p>收货人：方丽静 <span>18811996471</span></p>
   <p class="color-666">收货地址：江苏省无锡市滨湖区锦溪路100号10号楼</p></div>
   <i class="fa fa-angle-right fa-2x col-xs-1" ng-click="chooseSaddress()" ></i></div>
   <div  class="error col-xs-12">很抱歉，该地区不支持配送</div>

   <ul class="cart-list clearfix">
       <li class="shopinformation clearfix">

               <div class="col-xs-2 plr0 col-xs-offset-1"><img  src="images/shop/list-item-pro0.png" > </div>

               <div class="col-xs-9">
                   <p class="col-xs-6">西瓜汁</p>
                   <h5 class="wxcolor col-xs-6 text-right">¥9.90<br/><span>x1</span></h5>

             <div class="pull-right">  <a class="seemessage">查看留言</a>
                 </div>
           </div>
       </li>
       <li class="shopinformation clearfix">
               <div class="col-xs-2 plr0 col-xs-offset-1"><img  src="images/shop/list-item-pro0.png" > </div>
               <div class="col-xs-9">
                   <p class="col-xs-6">西瓜汁</p>
                   <h5 class="wxcolor col-xs-6 text-right">¥9.90<br/><span>x1</span></h5>

             <div class="pull-right">  <a class="seemessage">查看留言</a>
                 </div>
           </div>
       </li>
   </ul>
   <div class="col-xs-12 mt15 clearfix">
   <textarea class="leavemessage" placeholder="给卖家留言..."></textarea></div>
          <div class="mb80"></div>
   <div class="cart-footer clearfix col-xs-12">
       合计<a class="wxcolor pull-right">¥19.80</a>
   </div>

</div>
  </div>
      </div>

</div>
