<div class="bar bar-header bar-dark">
    <h1 class="title">通讯录</h1>
    <button class="button icon ion-person-add"></button>
</div>
<div class="scroll-content has-header">
    <div class="list">
        <div class="item item-avatar">
            <img  src="images/icon/avatar.jpg">
            <h2>Venkman</h2>
            <p>18811996471</p>
        </div>
        <div class="item item-avatar">
            <img  src="images/icon/avatar.jpg">
            <h2>Ray</h2>
            <p>18811996471.</p>
        </div>
        <div class="item item-avatar">
            <img  src="images/icon/avatar.jpg">
            <h2>Egon</h2>
            <p>18811996471</p>
        </div>
        <div class="item item-avatar">
            <img  src="images/icon/avatar.jpg">
            <h2>Winston</h2>
            <p>18811996471</p>
        </div>
    </div>
</div>