<body class="bg-gray">
<div class="page-cmember ">
  <div class="container-fluid row">
    <header class="wx"> <a class="backlast pull-left" href="index.html"><i class="fa fa-chevron-left "></i></a> <span>完善个人资料</span></header>
    <section class="col-xs-12">
      <dl class="cinfo">
        <dt class="col-xs-3">性别</dt>
        <dd class="col-xs-9 choosesex">
   <a class="btn btn-wx">男</a>  <a class="btn  btn-default">女</a>
        </dd>
        <dt class="col-xs-3">生日</dt>
        <dd class="col-xs-9 choosebirthday">
          <select  class="form-control">
            <option>年</option>
               <option>1970</option>
          </select>
          <select  class="form-control">
            <option>月</option>
          </select>
          <select class=" form-control">
            <option>日</option>
          </select>
        </dd>
        <dt class="col-xs-3">职业</dt>
        <dd class="col-xs-9">
          <select  class="form-control">
            <option>教师</option>
          </select>
        </dd>
        <dt class="col-xs-3">口味偏好</dt>
        <dd class="col-xs-9"> 
        <a class="btn btn-wx">酸</a><a class="btn  btn-default">甜</a><a class="btn  btn-default">苦</a>
        </dd>
        <dt class="col-xs-3">爱好</dt>
        <dd class="col-xs-9">
     <a class="btn btn-wx">西瓜</a><a class="btn  btn-default">香蕉</a><a class="btn  btn-default">芒果</a> <a class="btn  btn-default">葡萄</a><a class="btn  btn-default">猕猴桃</a><a class="btn btn-wx">火龙果</a><a class="btn btn-wx">香橙</a><a class="btn  btn-default">橘子</a><a class="btn  btn-default">苹果</a><a class="btn  btn-default">荔枝</a><a class="btn  btn-default">菠萝</a><a class="btn  btn-default">凤梨</a><a class="btn  btn-default">桃子</a><a class="btn  btn-default">杏</a>
        </dd>
         <div class="clear"></div>
        <hr class="row"/>
        <dt  class="col-xs-3"> &nbsp; &nbsp;</dt>
      <dd   class="col-xs-9"><a class="btn   btn-default col-xs-4">取消</a> <a class="btn  btn-danger col-xs-4 ">保存</a>
      </dd>
                 <div class="clear"></div>
      </dl>
</section>
 
  </div>
</div>
