<div class="top">
    <header class="wx">
        <a href="index.html" class="backlast pull-left"><i class="fa fa-chevron-left   "></i></a>
        <span>我的味绚</span>
    </header>
</div>
<div class="usbg">
    <div class="touxiang"><img src="images/uspic_04.png"></div>
    <span>你好，王小姐</span>
</div>
<div class=" icons bg-gray">
        <div class="col-xs-6 col-sm-4"><a class="mycode"><i></i> <span>我的二维码</span></a></div>
        <div class="col-xs-6  col-sm-4"><a class="myorder"><i></i> <span>我的订单</span></a></div>
        <div class="col-xs-6  col-sm-4"><a class="myqueue"><i></i> <span>我的排队</span></a> </div>
        <div class="col-xs-6  col-sm-4"><a class="mycart"><i></i> <span>我的购物车</span></a></div>
        <div class="col-xs-6  col-sm-4"><a class="mypoint"><i></i> <span>我的积分</span></a></div>
        <div class="col-xs-6  col-sm-4"><a class="myadd"><i></i> <span>我的地址</span></a> </div>
</div>
 
 
