<div class="page-wxmain bg-gray ">
  <div class="container-fluid ">
    <div class="col-xs-5 orderlist bg-gray ">
      <dl  class="member-info">
        <dt class="col-xs-3">收营员：</dt>
        <dd class="col-xs-9">0001</dd>
        <dt class="col-xs-3">会员卡号：</dt>
        <dd class="col-xs-9"><input placeholder="请输入会员卡号"/><span class="add-member">+</span></dd>
      </dl>
      <div class="clear"></div>
      <table class="table table-bordered bg-white mt10" style="table-layout:fixed;">
        <thead>
          <tr>
            <th>序号</th>
            <th>品名</th>
            <th>数量</th>
            <th>单价</th>
            <th>实收</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>西瓜汁</td>
            <td class="number-operate">   
             <button class="minus ">-</button>
      <input class="spinner" name="value" value="1" readonly>
      <button class="add  ">+</button></td>
            <td>18</td>
            <td>18</td>
          </tr>
          <tr>
            <td>2</td>
            <td>雪梨汁</td>
            <td class="number-operate">   
             <button class="minus ">-</button>
      <input class="spinner" name="value" value="2" readonly>
      <button class="add  ">+</button></td>
            <td>18</td>
            <td>36</td>
          </tr>
          <tr>
            <td>3</td>
            <td>哈密瓜汁</td>
                <td class="number-operate">   
          <button class="minus ">-</button>
      <input class="spinner" name="value" value="2" readonly>
      <button class="add  ">+</button></td>
            <td>22</td>
            <td>44</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td>合计</td>
            <td></td>
            <td>5</td>
            <td>98</td>
          </tr>
        </tfoot>
      </table>
      <div class="statistical col-xs-5"><span class="col-xs-4">数量合计：5</span><span class="col-xs-4">金额合计：98</span><span class="col-xs-4">实收合计：<span>98</span></span></div>
    </div>
    <div class="col-xs-7">
      <div class="search clearfix">
        <div class="search-ipt col-xs-9 col-sm-10 bg-white"><i class="fa fa-search "></i>
          <input placeholder="搜索商品">
        </div>
      </div>
      <div class="mainMenu" role="tabpanel">
        <ul role="tablist"  class="menulist">
          <li class="active" role="presentation"><a class="btn btn-default " data-toggle="tab"  role="tab"  href="#menu1">纯果汁</a></li>
          <li  role="presentation"> <a  class="btn btn-default" data-toggle="tab"   role="tab"  href="#menu2">鸡尾蔬果汁</a></li>
          <li  role="presentation"> <a class="btn btn-default" data-toggle="tab"  role="tab"  href="#menu3">组合果汁</a></li>
          <li  role="presentation"> <a class="btn btn-default" data-toggle="tab" role="tab"  href="#menu4">果昔</a></li>
          <li  role="presentation"> <a class="btn btn-default" data-toggle="tab"  role="tab"  href="#menu5">代餐饮</a></li>
        </ul>
        <div class="clear"></div>
        <div class="tab-content">
          <ul role="tabpanel" class="tab-pane active"  id="menu1">
            <li class="itemMenu">
              <p>00001</p>
              <span>西瓜汁</span>
              <h6><span>18</span>元</h6>
            </li>
            <li class="itemMenu">
              <p>00002</p>
              <span>雪梨汁</span>
              <h6><span>18</span>元</h6>
            </li>
            <li class="itemMenu">
              <p>00003</p>
              <span>苹果汁</span>
              <p>
              <h6><span>18</span>元</h6>
            </li>
            <li class="itemMenu">
              <p>00004</p>
              <span>菠萝汁</span>
              <h6><span>18</span>元</h6>
            </li>
            <li class="itemMenu">
              <p>00005</p>
              <span>哈密瓜汁</span>
              <h6><span>22</span>元</h6>
            </li>
            <li class="itemMenu">
              <p>00006</p>
              <span>鲜橙</span>
              <h6><span>28</span>元</h6>
            </li>
            <li class="itemMenu">
              <p>00007</p>
              <span>玫瑰火龙果汁</span>
              <h6><span>32</span>元</h6>
            </li>
            <li class="itemMenu">
              <p>00008</p>
              <span>芒果汁</span>
              <h6><span>38</span>元</h6>
            </li>
            <li class="itemMenu">
              <p>00009</p>
              <span>西柚汁</span>
              <h6><span>38</span>元</h6>
            </li>
          </ul>
          <ul role="tabpanel" class="tab-pane" id="menu2">
            <li class="itemMenu">
              <p>00010</p>
              <span>窈窕美莓</span>
              <h6><span>18</span>元</h6>
            </li>
            <li class="itemMenu">
              <p>00011</p>
              <span>活力满分</span>
              <h6><span>18</span>元</h6>
            </li>
            <li class="itemMenu">
              <p>00012</p>
              <span>清肺雪梨</span>
              <p>
              <h6><span>18</span>元</h6>
            </li>
            <li class="itemMenu">
              <p>00013</p>
              <span>蓝色妖姬</span>
              <h6><span>18</span>元</h6>
            </li>
            <li class="itemMenu">
              <p>00014</p>
              <span>有氧舒活</span>
              <h6><span>22</span>元</h6>
            </li>
            <li class="itemMenu">
              <p>00015</p>
              <span>莓过缤纷</span>
              <h6><span>28</span>元</h6>
            </li>
            <li class="itemMenu">
              <p>00016</p>
              <span>维他美颜</span>
              <h6><span>32</span>元</h6>
            </li>
            <li class="itemMenu">
              <p>00017</p>
              <span>美丽黑加仑</span>
              <h6><span>38</span>元</h6>
            </li>
            <li class="itemMenu">
              <p>00018</p>
              <span>热情百香</span>
              <h6><span>38</span>元</h6>
            </li>
            <li class="itemMenu">
              <p>00019</p>
              <span>五彩斑斓</span>
              <h6><span>38</span>元</h6>
            </li>
          </ul>
          <ul role="tabpanel" class="tab-pane" id="menu3">
            <li class="itemMenu">
              <p>00011</p>
              <span>西瓜+雪梨</span>
              <h6><span>18</span>元</h6>
            </li>
            <li class="itemMenu">
              <p>00012</p>
              <span>西瓜+菠萝</span>
              <h6><span>18</span>元</h6>
            </li>
            <li class="itemMenu">
              <p>00013</p>
              <span>西瓜+柠檬</span>
              <p>
              <h6><span>18</span>元</h6>
            </li>
            <li class="itemMenu">
              <p>00014</p>
              <span>西瓜+香蕉</span>
              <h6><span>18</span>元</h6>
            </li>
            <li class="itemMenu">
              <p>00015</p>
              <span>雪梨+柠檬</span>
              <h6><span>18</span>元</h6>
            </li>
            <li class="itemMenu">
              <p>00016</p>
              <span>苹果+柠檬</span>
              <h6><span>18</span>元</h6>
            </li>
            <li class="itemMenu">
              <p>00017</p>
              <span>苹果+雪梨</span>
              <h6><span>18</span>元</h6>
            </li>
            <li class="itemMenu">
              <p>00018</p>
              <span>西瓜+鲜橙</span>
              <h6><span>22</span>元</h6>
            </li>
            <li class="itemMenu">
              <p>00019</p>
              <span>热情百香</span>
              <h6><span>38</span>元</h6>
            </li>
            <li class="itemMenu">
              <p>00019</p>
              <span>五彩斑斓</span>
              <h6><span>38</span>元</h6>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
