<div class="bar bar-header bar-stable">
    <h1 class="title">请假单</h1>
</div>
<div class="scroll-content has-header padding">
    <div class="list">
<label class="item item-input">
    <span class="input-label">姓名：</span>
    <input type="text" placeholder="请输入您的姓名">
</label>
    <label class="item item-input">
        <span class="input-label">部门：</span>
        <input type="text" placeholder="请输入您的部门">
    </label>
    <label class="item item-input">
        <span class="input-label">职位：</span>
        <input type="text" placeholder="请输入您的职位">
    </label>
        <label class="item item-input">
            <span class="input-label">请假时间：</span>
            <input type="text" placeholder="请输入您的职位">
        </label>
        <label class="item item-input">
            <span class="input-label">请假事由：</span>
            <textarea rows="4" cols="100%" style="resize:none" ></textarea>
        </label>
    <form>
        <input type="radio"  name="radiobutton" value="paid"/>带薪
        <input type="radio"  name="radiobutton" value="unpaid" checked="checked"/>不带薪
        <input type="radio"  name="radiobutton" value="holiday"/>公休
    </form>
        <label class="item item-input item-select">
            <div class="input-label">请假类别：</div>
            <select>
                <option>事假</option>
                <option selected>病假</option>
                <option>婚假</option>
                <option>产假</option>
                <option>年假</option>
                <option>培训假</option>
                <option>公休假</option>
                <option>调休</option>
            </select>
        </label>
        <button class="button button-block button-positive border-clear">提交</button>
</div>
</div>


