<style>
    .row{
        margin-left: 0;
        margin-right:0;
    }
    .col {
        height: 85px;
        line-height: 32px;
        margin: 5px;
        text-align: center;
    }
    .col.light div {
        text-align: left;
    }
    .col .icon {
        font-size: 32px;
    }

</style>
<div class="scroll-content">
    <div class="row">
        <div class="col col-50  positive-bg light">
            <div>请假</div>
            <i class="icon ion-plane"></i>
        </div>
        <div class="col col-25  assertive-bg light">
            <div>预算</div>
            <i class="icon ion-android-train"></i>
        </div>
        <div class="col col-25  calm-bg light">
            <div>资源</div>
            <i class="icon ion-model-s"></i>
        </div>
    </div>

    <div class="row">
        <div class="col  calm-bg light">
            <div>自评</div>
            <i class="icon ion-home"></i>
        </div>
        <div class="col stable-bg energized" >
            <i class="icon ion-person"></i>
            <div>工时</div>
        </div>
    </div>

    <div class="row">
        <div class="col  balanced-bg light">
            <div>等我批复</div>
            <i class="icon ion-image"></i>
        </div>
        <div class="col energized-bg light">
            <div>我的申请</div>
            <i class="icon ion-pricetag"></i>
        </div>
        <div class="col  royal-bg light">
            <div>批复查询</div>
            <i class="icon ion-person-stalker"></i>
        </div>
    </div>
    </div>